*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "century Gothic", sans-serif;
}
a{
    color: #000000;
    text-decoration: none;
}
.navlist{
    width: 100%;
    position: absolute;
    padding: 1px 10vw;
    z-index: 10;
}
.navlist ul{
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 5;
    padding-left: 100px;
    color: white;
    font-size: 5rem;
}
.navlist ul h4{
    font-family: serif;
    color: white;
}
.navlist ul a{
    display: block;
    margin-left: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}
.navlist ul a:hover{
    color: rgb(253, 122, 0);
}
.header ul{
    display: inline-flex;
    list-style: none;
}
.header a::after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.mainbox{
    width: 100%;
    height: 120vh;
    padding-top: 30vh;
    box-sizing: border-box;
    transition: 5s;
    font-family: 'poppins', sans-serif;
    text-align: center;
    background-image: linear-gradient(#0000000c, #0000000c), url(../my\ project/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainbox h1{
    text-align: center;
    color: rgb(238, 238, 238);
    word-spacing: 8px;
    margin-bottom: 20px;
    font-family: serif;
}
.mainbox p{
    text-align: center;
    color: #f5f5f5;
}
.footer{
    display: block;
}
.footer-bottom{
    background-color: #171717;
    padding: 12px 0px 15px;
    color: #787878;
    border-top: 1px dotted #3b3b3b;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-bottom .text-left, .footer-bottom .text-center, .footer-bottom .text-right {
    color: #fff;
}

@media (min-width: 992px){
.col-md-12 {
    width: 100%;
}
}
.site-footer p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
}
footer p, footer li {
    font-size: 15px;
    line-height: 28px;
}
footer p, footer strong, footer b, footer {
    color: #fff;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
    line-height: 28px;
    margin-bottom: 24px;
}
p, address, pre, hr, ul, ol, dl, dd, table {
    margin-bottom: 24px;
}
